server:
  port: 8888

spring:
  datasource:
    username: root
    password: acp@123ABCtest
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    view:
      prefix: /
      suffix: .jsp

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.single.label.entity

#showSql
logging:
  level:
    com:
      example:
        mapper : debug

